# Credit Risk Resampling Techniques

In [387]:
import warnings
warnings.filterwarnings('ignore')

In [388]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV and Perform Basic Data Cleaning

In [389]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
  
]

target = ["loan_status"]

In [390]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv.')
df = pd.read_csv(file_path, skiprows=1)[:-2]

df = df.loc[:, columns].copy()

In [391]:
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths
0,20000.0,17.19%,499.10,RENT,47000.0,Source Verified,Mar-2019,Issued,n,14.02,0.0,1.0
1,21225.0,14.74%,502.05,MORTGAGE,225000.0,Not Verified,Mar-2019,Issued,n,16.80,0.0,2.0
2,5000.0,17.97%,180.69,MORTGAGE,62000.0,Not Verified,Mar-2019,Issued,n,19.82,1.0,0.0
3,20000.0,8.19%,628.49,MORTGAGE,200000.0,Not Verified,Mar-2019,Issued,n,22.66,1.0,0.0
4,12000.0,15.57%,289.09,MORTGAGE,49000.0,Source Verified,Mar-2019,Issued,n,13.47,0.0,0.0

In [392]:

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths
0,20000.0,17.19%,499.10,RENT,47000.0,Source Verified,Mar-2019,Issued,n,14.02,0.0,1.0
1,21225.0,14.74%,502.05,MORTGAGE,225000.0,Not Verified,Mar-2019,Issued,n,16.80,0.0,2.0
2,5000.0,17.97%,180.69,MORTGAGE,62000.0,Not Verified,Mar-2019,Issued,n,19.82,1.0,0.0
3,20000.0,8.19%,628.49,MORTGAGE,200000.0,Not Verified,Mar-2019,Issued,n,22.66,1.0,0.0
4,12000.0,15.57%,289.09,MORTGAGE,49000.0,Source Verified,Mar-2019,Issued,n,13.47,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
115670,5000.0,13.56%,169.83,MORTGAGE,48000.0,Not Verified,Jan-2019,Current,n,8.28,2.0,0.0
115671,6000.0,6.46%,183.79,MORTGAGE,96000.0,Not Verified,Jan-2019,Current,n,0.31,0.0,0.0
115672,16000.0,16.14%,563.62,MORTGAGE,32000.0,Source Verified,Jan-2019,Current,n,20.89,0.0,0.0
115673,16000.0,11.31%,350.36,MORTGAGE,72000.0,Verified,Jan-2019,Current,n,7.02,2.0,0.0
115674,29250.0,18.94%,757.80,MORTGAGE,65000.0,Verified,Jan-2019,Current,n,29.52,0.0,0.0

In [393]:

# Drop the null rows
df = df.dropna()

In [394]:

# Remove the `Issued` loan status(only want the "current")
issued_mask = df['loan_status'] != 'Issued'
 

df = df.loc[issued_mask]

In [395]:
df

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths
80,35000.0,13.08%,797.80,MORTGAGE,125890.0,Verified,Mar-2019,Fully Paid,n,30.48,0.0,0.0
82,20000.0,22.50%,769.00,RENT,75000.0,Not Verified,Mar-2019,Current,n,24.37,0.0,0.0
93,10500.0,17.19%,375.35,RENT,66000.0,Source Verified,Mar-2019,Current,n,27.24,0.0,0.0
99,25000.0,20.00%,929.09,MORTGAGE,105000.0,Verified,Mar-2019,Current,n,20.23,0.0,0.0
132,20000.0,20.00%,529.88,MORTGAGE,56000.0,Verified,Mar-2019,Current,n,24.26,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
115670,5000.0,13.56%,169.83,MORTGAGE,48000.0,Not Verified,Jan-2019,Current,n,8.28,2.0,0.0
115671,6000.0,6.46%,183.79,MORTGAGE,96000.0,Not Verified,Jan-2019,Current,n,0.31,0.0,0.0
115672,16000.0,16.14%,563.62,MORTGAGE,32000.0,Source Verified,Jan-2019,Current,n,20.89,0.0,0.0
115673,16000.0,11.31%,350.36,MORTGAGE,72000.0,Verified,Jan-2019,Current,n,7.02,2.0,0.0
115674,29250.0,18.94%,757.80,MORTGAGE,65000.0,Verified,Jan-2019,Current,n,29.52,0.0,0.0

In [396]:
# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths
80,35000.0,0.1308,797.80,MORTGAGE,125890.0,Verified,Mar-2019,Fully Paid,n,30.48,0.0,0.0
82,20000.0,0.2250,769.00,RENT,75000.0,Not Verified,Mar-2019,Current,n,24.37,0.0,0.0
93,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,Current,n,27.24,0.0,0.0
99,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,Current,n,20.23,0.0,0.0
132,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,Current,n,24.26,0.0,0.0

In [416]:
# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)
x = {'Fully Paid': 'low_risk'}   
df = df.replace(x)
x = {'Charged Off': 'low_risk'}   
df = df.replace(x)
x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)
df

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths
0,35000.0,0.1308,797.80,MORTGAGE,125890.0,Verified,Mar-2019,low_risk,n,30.48,0.0,0.0
1,20000.0,0.2250,769.00,RENT,75000.0,Not Verified,Mar-2019,low_risk,n,24.37,0.0,0.0
2,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,0.0,0.0
3,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,0.0,0.0
4,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
96633,5000.0,0.1356,169.83,MORTGAGE,48000.0,Not Verified,Jan-2019,low_risk,n,8.28,2.0,0.0
96634,6000.0,0.0646,183.79,MORTGAGE,96000.0,Not Verified,Jan-2019,low_risk,n,0.31,0.0,0.0
96635,16000.0,0.1614,563.62,MORTGAGE,32000.0,Source Verified,Jan-2019,low_risk,n,20.89,0.0,0.0
96636,16000.0,0.1131,350.36,MORTGAGE,72000.0,Verified,Jan-2019,low_risk,n,7.02,2.0,0.0
96637,29250.0,0.1894,757.80,MORTGAGE,65000.0,Verified,Jan-2019,low_risk,n,29.52,0.0,0.0

In [417]:
df2 = pd.get_dummies(df, columns=["loan_status"])
df2.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,loan_status_high_risk,loan_status_low_risk
0,35000.0,0.1308,797.80,MORTGAGE,125890.0,Verified,Mar-2019,n,30.48,0.0,0.0,0,1
1,20000.0,0.2250,769.00,RENT,75000.0,Not Verified,Mar-2019,n,24.37,0.0,0.0,0,1
2,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,n,27.24,0.0,0.0,0,1
3,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,n,20.23,0.0,0.0,0,1
4,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,n,24.26,0.0,0.0,0,1

In [418]:
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths
0,35000.0,0.1308,797.80,MORTGAGE,125890.0,Verified,Mar-2019,low_risk,n,30.48,0.0,0.0
1,20000.0,0.2250,769.00,RENT,75000.0,Not Verified,Mar-2019,low_risk,n,24.37,0.0,0.0
2,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,0.0,0.0
3,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,0.0,0.0
4,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,0.0,0.0

In [419]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df3 = df.copy()
df3['loan_status'] = le.fit_transform(df3['loan_status']) 
df3['home_ownership'] = le.fit_transform(df3['home_ownership']) 
df3.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths
0,35000.0,0.1308,797.80,1,125890.0,Verified,Mar-2019,1,n,30.48,0.0,0.0
1,20000.0,0.2250,769.00,4,75000.0,Not Verified,Mar-2019,1,n,24.37,0.0,0.0
2,10500.0,0.1719,375.35,4,66000.0,Source Verified,Mar-2019,1,n,27.24,0.0,0.0
3,25000.0,0.2000,929.09,1,105000.0,Verified,Mar-2019,1,n,20.23,0.0,0.0
4,20000.0,0.2000,529.88,1,56000.0,Verified,Mar-2019,1,n,24.26,0.0,0.0

In [420]:
##use df3 right now (1 represent low risk and 0 represent high risk )

# Split the Data into Training and Testing

In [421]:
# Create our features

X = df3.copy()
X = X.drop("loan_status", axis=1)
X = X.drop("issue_d", axis=1)
X = X.drop("verification_status", axis=1)



X = X.drop("pymnt_plan", axis=1)


# Create our target
y = df3["loan_status"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: loan_status, dtype: int32

In [422]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,dti,delinq_2yrs,inq_last_6mths
count,96638.000000,96638.000000,96638.000000,96638.000000,9.663800e+04,96638.000000,96638.000000,96638.000000
mean,16633.900484,0.126774,480.409252,2.342484,8.534549e+04,20.313160,0.226557,0.444049
std,10362.656798,0.048461,291.365502,1.424006,1.134282e+05,19.885017,0.740876,0.737398
min,1000.000000,0.060000,30.640000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,9000.000000,0.081900,264.500000,1.000000,4.950000e+04,12.120000,0.000000,0.000000
50%,15000.000000,0.118000,399.280000,1.000000,7.000000e+04,18.360000,0.000000,0.000000
75%,24000.000000,0.155700,648.100000,4.000000,1.000000e+05,25.660000,0.000000,1.000000
max,40000.000000,0.308900,1676.230000,4.000000,9.000000e+06,999.000000,18.000000,5.000000

In [423]:
# Check the balance of our target values
y.value_counts()

1    96113
0      525
Name: loan_status, dtype: int64

In [424]:
Counter(y)

Counter({1: 96113, 0: 525})

In [425]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [426]:
# Resample the training data with the RandomOversampler
# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({1: 72098, 0: 72098})

In [428]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [429]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix

y_pred = model.predict(X_test)

array([[   90,    55],
       [13277, 10738]], dtype=int64)

In [430]:
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

0.5339134305426925

In [431]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   90,    55],
       [13277, 10738]], dtype=int64)

In [432]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.62      0.45      0.01      0.53      0.28       145
          1       0.99      0.45      0.62      0.62      0.53      0.27     24015

avg / total       0.99      0.45      0.62      0.61      0.53      0.27     24160

### SMOTE Oversampling

In [434]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1).fit_resample(
    X_train, y_train
)
Counter(y_resampled)

Counter({1: 72098, 0: 72098})

In [435]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [437]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5188596207829876

In [438]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   98,    47],
       [15325,  8690]], dtype=int64)

In [439]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.68      0.36      0.01      0.49      0.25       145
          1       0.99      0.36      0.68      0.53      0.49      0.24     24015

avg / total       0.99      0.36      0.67      0.53      0.49      0.24     24160

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [440]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.under_sampling import RandomUnderSampler
ros = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 380, 1: 380})

In [441]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [442]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5188596207829876

In [443]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   79,    66],
       [12811, 11204]], dtype=int64)

In [444]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.54      0.47      0.01      0.50      0.26       145
          1       0.99      0.47      0.54      0.64      0.50      0.25     24015

avg / total       0.99      0.47      0.54      0.63      0.50      0.25     24160

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [445]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({0: 86181, 1: 84329})

In [446]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [448]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

0.537692677708616

In [449]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   86,    59],
       [12433, 11582]], dtype=int64)

In [450]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.59      0.48      0.01      0.53      0.29       145
          1       0.99      0.48      0.59      0.65      0.53      0.28     24015

avg / total       0.99      0.48      0.59      0.65      0.53      0.28     24160